
body {background-color: #e3d6d5;} /* Wanted something a bit easier on the eyes. Googled HTML colours to find codes */
h1 {font-size: 60px;} /* I am the centrepiece so I wanted my name to stand out */
h1 {text-align: center;}
h2 {text-align: center;}
h2 {border-top-style: none;
 border-right-style: none;
 border-bottom-style: solid; /* Underline to separate Top headers from the rest of the page */
 border-left-style: none;;}
h2 {color: #EE2B2B;}
h2 {font-size: 25px;}
h3 {font-size: 35px;}
h3 {color: #EE2B2B;}
h4 {font-size: 35px;}
h4 {color: #EE2B2B;}
.sansserif {font-family: Arial, Helvetica, sans-serif;}
p {font-size: 22px;}
.myDiv {border: 5px outset black; background-color: #EE2B2B}/* Wanted to go with a nice Fanshawe/Brock red for the colour */
img {float: right;}
a {color: #0C0B0B;} /* Wasn't sure what colour to make hyperlinks, if you see this I don't know if you can comment on that
img { border: 5px solid #EE2B2B;} /* Was originally going to have no borders on image but after testing borders from W3schools, this looks way nicer */
